/laba 1/ConsoleApp1/bin/
/laba 1/ConsoleApp1/obj/
/laba 1/ConsoleApp1/.vs/
/laba 2/ConsoleApp2/bin/
/laba 2/ConsoleApp2/obj/
/laba 2/ConsoleApp2/.vs/
/laba 3/ConsoleApp3/bin/
/laba 3/ConsoleApp3/obj/
/laba 3/ConsoleApp3/.vs/
/laba 4/ConsoleApp4/bin/
/laba 4/ConsoleApp4/obj/
/laba 4/ConsoleApp4/.vs/