/laba 1/ConsoleApp1/bin/
/laba 1/ConsoleApp1/obj/
/laba 1/ConsoleApp1/.vs/
/laba 2/ConsoleApp2/bin/
/laba 2/ConsoleApp2/obj/
/laba 2/ConsoleApp2/.vs/
/laba 3/ConsoleApp3/bin/
/laba 3/ConsoleApp3/obj/
/laba 3/ConsoleApp3/.vs/
/laba 4/ConsoleApp4/bin/
/laba 4/ConsoleApp4/obj/
/laba 4/ConsoleApp4/.vs/
/laba 5/ConsoleApp5/bin/
/laba 5/ConsoleApp5/obj/
/laba 5/ConsoleApp5/.vs/
/laba 6/ConsoleApp6/bin/
/laba 6/ConsoleApp6/obj/
/laba 6/ConsoleApp6/.vs/
/laba 7/ConsoleApp7/bin/
/laba 7/ConsoleApp7/obj/
/laba 7/ConsoleApp7/.vs/
/laba 8/ConsoleApp8/bin/
/laba 8/ConsoleApp8/obj/
/laba 8/ConsoleApp8/.vs/
